---
name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install libgif7
        run: |
          sudo apt-get update
          sudo apt-get install -y libgif7

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test
